// Content Header (Page header)
section.content-header
	h1
		| Добро пожаловать на административную страницу сайта
		//small Optional description
	ol.breadcrumb
		li
			a(href='#')
				i.fa.fa-dashboard
				|  Административна страница
		li.active Here
// Main content
section.content 
	div Данный сайт предназначен для  ...
	div На этой странице вы сможите ...
	div Выбирете одно из следующих действий ...
	// Your Page Content Here
	// /.content