
<div>
  <div class="login-box">
    <div class="login-logo"><a href="#"><b>Авторизация</b></a></div>
    <!-- /.login-logo-->
    <div class="login-box-body">
      <p class="login-box-msg">Авторизуйтесь для начала работы</p>
      <form ng-submit="vm.Login()" ng-init="vm.Init()">
        <div class="form-group has-feedback">
          <input type="email" placeholder="Email" ng-model="login" required="required" class="form-control"/><span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" placeholder="Password" ng-model="password" required="required" class="form-control"/><span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
          </div>
          <!-- /.col-->
        </div>
      </form>
    </div>
    <!-- /.login-box-body-->
  </div>
  <!-- /.login-box-->
  <!--script(src='./assets/admin-lte/plugins/jQuery/jQuery-2.2.0.min.js')-->
  <!-- jQuery UI 1.11.4-->
  <!--script(src='https://code.jquery.com/ui/1.11.4/jquery-ui.min.js')-->
  <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip-->
  <!--script.//   $.widget.bridge('uibutton', $.ui.button);
  -->
  <!-- Bootstrap 3.3.6-->
  <!--script(src='./assets/admin-lte/bootstrap/js/bootstrap.min.js')-->
</div>