// Content Header (Page header)
section.content-header
	h1
		| Об авторе
		//small Optional description
	ol.breadcrumb
		li
			a(href='#/')
				i.fa.fa-dashboard
				|  Главная
		li.active Об авторе
// Main content
section.content
	div.box-body
		p Об авторе
		
