// Content Header (Page header)
section.content-header
	h1
		| Контакты
		//small Optional description
	ol.breadcrumb
		li
			a(href='#/')
				i.fa.fa-dashboard
				|  Главная
		li.active Контакты
// Main content
section.content
	div.box-body
		p Контактная информация
		
